# 复制为 .env 后填写，不要提交 .env
# Vercel 控制台也要配同一组变量

PG_DB=postgres
PG_USER=
PG_PASSWORD=
PG_HOST=
PG_PORT=6543
SITE_URL=https://docs.yychuiyan.com
SITE_NAME=炊烟小站
SECURE_DOMAINS=docs.yychuiyan.com,waline.yychuiyan.com
AUTHOR_EMAIL=
